# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore static html export
nextjs/dist/*

# dependencies
nextjs/node_modules
nextjs/.pnp
nextjs/.pnp.js
nextjs/.yarn/install-state.gz

# testing
nextjs/coverage

# next.js
nextjs/.next/
nextjs/out/

# production
nextjs/build

# misc
.DS_Store
*.pem

# debug
nextjs/npm-debug.log*
nextjs/yarn-debug.log*
nextjs/yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Dependency directories (remove the comment below to include it)
# vendor/

dist/
